.pros {
  font-size: 14px;

  @media screen and (min-width: 1200px) {
    &.section {
      padding-bottom: 47px;
    }
  }
}

@media screen and (min-width: 768px) {
  .pros-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--grid-gap));
    margin-top: calc(-1 * var(--grid-gap));
  }
}

.pros-list-card {
  &:not(:first-child) {
    margin-top: 30px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - var(--grid-gap));
    margin-top: var(--grid-gap);
    margin-left: var(--grid-gap);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - var(--grid-gap));
  }
}

.pros-icon {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-bg);
}

.pros-subheader {
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.pros-text {
  line-height: 1.71;
}
