.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2;
  }

  .header &.link:hover,
  .header &.link:focus {
    color: var(--primary-color);
  }

  .header & {
    color: var(--primary-color);

    @media screen and (min-width: 768px) {
      margin-right: 88px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
  }

  > span {
    color: var(--hover-color);
  }

  .footer & {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--secondary-color);
  }
}
