.js-open-menu {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .js-open-menu {
    display: none;
  }
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;

  &:hover .mobile-menu-icon {
    fill: var(--hover-color);
  }
}

.mobile-menu-icon {
  @include transition(transform);
  .js-close-menu:hover &,
  .js-open-menu:hover & {
    fill: var(--hover-color);
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 0;
  padding-left: 40px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 100;
  transform: translateX(100%);
  @include transition(transform);
  font-weight: 500;
  letter-spacing: 0.02em;

  &.is-open {
    transform: translateX(0);
  }
}

.mobile-btn {
  border: none;
  background-color: transparent;
  padding: 0;
}

.mobile-nav-list {
  @include line-height(40px, 47px);
  color: var(--primary-color);
}

.mobile-nav-item {
  @include transition(color);
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}

.mobile-contacts {
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile-contacts-phone {
  margin-bottom: 32px;
  @include line-height(34px, 40px);
  color: var(--hover-color);
}

.mobile-contacts-email {
  @include line-height(24px, 28px);
  color: var(--text-color);
}

.mobile-socials {
  display: flex;
  @include line-height(18px, 22px);
  color: var(--hover-color);
}

.mobile-socials-item:not(:last-child)::after {
  content: '';
  display: inline-block;
  width: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  padding: 0 10px;
  vertical-align: middle;
}
@media screen and (max-width: 403px) {
  .mobile-nav-list {
    font-size: 30px;
  }

  .mobile-socials {
    flex-wrap: wrap;
    margin-top: -10px;
    margin-left: -20px;
  }

  .mobile-socials-item {
    flex-basis: calc(100% / 2 - 20px);
    margin-top: 10px;
    margin-left: 20px;
  }

  .mobile-socials-item:not(:last-child)::after {
    display: none;
  }
  .mobile-contacts-email {
    font-size: 14px;
  }
  .mobile-contacts-phone {
    font-size: 24px;
  }
  .mobile-socials {
    font-size: 14px;
  }
}
