:root {
  --primary-color: #212121;
  --secondary-color: #ffffff;
  --hover-color: #2196f3;
  --main-bg-color: #ffffff;
  --alternative-bg-color: #2f303a;
  --text-color: #757575;
  --btn-bg: #f5f4fa;
  --grid-gap: 30px;
  --icon-color: #afb1b8;
}
